<html><head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.20/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.20/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.20/angular-resource.js"></script>
     <link href="Untitled.css" rel="stylesheet" type="text/css">
    <script src="app.js"></script>
    <script src="login.js"></script>
  </head><body ng-app="app">
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <img src="logo.jpg" alt="ARC" style="width:256px;height:50px;">
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse"></div>
      </div>
    </div>
    <div class="container" ng-controller="postController as ctrl">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="page-header">
          <h1>Welcome to the ARC AutoPaxCounter Web Console</h1>
        </div>
        <!-- FORM -->
        <form name="userForm" ng-submit="ctrl.submitForm()" novalidate="">
          <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" class="form-control" ng-model="ctrl.username">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" class="form-control" ng-model="ctrl.password">
          </div>{{ctrl.username}} {{ctrl.password}}
          <!-- <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" class="form-control" ng-model="user.email">
        <span ng-show="errorEmail">{{errorEmail}}</span>
    </div> -->
          <button type="submit" class="btn btn-primary">Submit</button>
          <a class="text-right" href="http://arcinnovations.ece.uprm.edu:3000/remind" style="padding: 20px">Forgot Credentials?</a>
        </form>
      </div>
    </div>
  

</body></html>